.recent-expenses-section{
    display: grid;
    grid-template-columns: 40% 58.6%;
    gap:1rem
}

.pending-tasks,
.recent-expenses{
    background-color: #333333;
    border-radius: 5px;
    padding: 10px;
}

.overflow-auto{
    overflow-x: auto;
}

@media screen and (max-width:992px) {
    .recent-expenses-section{
        grid-template-columns: 100%;
        gap:0
    }
}

.circular-progress {
  --size: 250px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 20px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  /* --dash: calc((var(--progress) * var(--circumference)) / 100); */
  animation: progress-animation 5s linear 0s 1 forwards;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.circular-progress circle.bg {
  stroke: #ddd;
}

.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #5394fd;
}

.position-relative{
    position: relative;
}

.progress-percent{
    position: absolute;
    top: 35%;
    left: 60px;
    font-size: 40px;
}

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@keyframes progress-animation {
  from {
    --progress: 0;
  }
  to {
    --progress: 100;
  }
}

@media screen and (max-width:992px) {
  .mt-3-sm-custom{
    margin-top: 16px;
  }
}

@media screen and (max-width: 650px) {
  .justify-center-sm{
    justify-content: center !important;
  }
}